:root {
  --pulse-color-start: rgba(33, 73, 77, 0.702);
  --pulse-color-middle: rgba(33, 100, 77, 0.702);
}

@media (prefers-color-scheme: light) {
  :root {
    --pulse-color-start: rgba(200, 200, 200, 0.702);
    --pulse-color-middle: rgba(117, 191, 121, 0.702);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --pulse-color-start: rgba(33, 73, 77, 0.702);
    --pulse-color-middle: rgba(33, 100, 77, 0.702);
  }
}

@keyframes pulse {
  0% {
    background-color: var(--pulse-color-start);
  }
  50% {
    background-color: var(--pulse-color-middle);
  }
  100% {
    background-color: var(--pulse-color-start);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    filter: blur(4px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    filter: blur(0);
  }
  to {
    opacity: 0;
    filter: blur(4px);
  }
}

@keyframes slideIn {
  from {
    transform: translate(-50%, -100%);
  }
  to {
    transform: translate(-50%, 0);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes successAnimation {
  0% {
    background-color: rgba(33, 73, 77, 0.702);
  }
  50% {
    background-color: rgba(33, 150, 77, 0.702);
  }
  100% {
    background-color: rgba(33, 73, 77, 0.702);
  }
}

.fade-in {
  animation: fadeIn 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) both;
  will-change: opacity, transform, filter;
}

.fade-out {
  animation: fadeOut 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) both;
  will-change: opacity, transform, filter;
}

* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.TilePropertiesMenu__button {
  position: fixed;
  top: 41cqi;
  left: 5cqi;
  //background: rgba(211, 197, 122, 0.4); Never used since infinite animation is active. Change global value instead
  //background-color: rgba(33, 73, 77, 0.702); Never used since infinite animation is active. Change global value instead
  backdrop-filter: saturate(180%) blur(30px);
  -webkit-backdrop-filter: saturate(180%) blur(30px);
  padding: 10px 10px;
  border-radius: 25px;
  border-width: 0px;
  font-size: 16px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  


  @media (prefers-color-scheme: light) {
    background-color: #d3c57a66;
  }

  @media (prefers-color-scheme: dark) {
    background-color: rgba(33, 73, 77, 0.702);
  }


  &:disabled {
    animation: fadeOut 0.40s forwards ease-in-out;
    transition: background 0.2s ease-in-out;

    &:active {
      animation: 
        shake 0.5s ease;
    }
  }

  &:not(:disabled):not(.selected) {
    animation: pulse 4s ease-in-out infinite;
  }
}

.TilePropertiesMenu__modal {
  margin: 0 auto;
  position: fixed;

  top: 2cqb;
  left: 50cqi;
  position: fixed;
  transform: translate(-50%, 0);
  width: 339px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: auto;
  min-height: 132px;
  max-height: 90vh;
  overflow: hidden;
  border: 0;
  background-color: rgb(33, 73, 77);
  backdrop-filter: saturate(180%) blur(30px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  z-index: 1001;
  opacity: 0;
  animation: fadeIn 0.25s forwards ease-in-out;

  h3 {
    color: beige;
    margin-bottom: 3px;
    font-size: 13px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 50px;
    overflow-y: scroll;
    color: beige;
    flex-grow: 1;
  }

  li {
    padding: 5px 0;
    display: flex;
    font-size: 11px;
    justify-content: space-between;
    align-items: center;
  }

  input {
    -webkit-autocomplete: off;
    -webkit-autocorrect: off;
    -webkit-spellcheck: false;
    outline: none;
    width: calc(100% - 80px);
    padding: 4px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: none;
    background: rgba(211, 197, 122, 0.4);
    background-color: rgba(33, 73, 77, 0.702);
    backdrop-filter: saturate(180%) blur(30px);
    -webkit-backdrop-filter: saturate(180%) blur(30px);
    color: whitesmoke;
    font-size: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition:
      background-color 0.3s ease,
      filter 0.3s ease;

    &::placeholder {
      color: #ccc;
    }
  }

  button {
    background: rgba(211, 197, 122, 0.4);
    background-color: rgba(33, 73, 77, 0.702);
    backdrop-filter: saturate(180%) blur(30px);
    -webkit-backdrop-filter: saturate(180%) blur(30px);
    padding: 5px 5px;
    border-radius: 25px;
    border-width: 0;
    font-size: 10px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}

.TilePropertiesMenu__modal-confirm {
  position: fixed;
  top: 1cqb;
  right: 2cqb;
  width: 50px;
  border-radius: 15px;
  border: none;
  padding: 10px 15px;
  color: rgb(196, 31, 31);
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: rgba(0, 255, 26, 0.4);
  filter: grayscale(0%);

  &:disabled {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
    background-color: rgb(140, 36, 36);
    cursor: not-allowed;
    filter: grayscale(50%);
    transition:
      background-color 0.3s ease-in-out,
      filter 0.3s ease-in-out;

    &:active {
      animation: shake 0.5s ease;
    }
  }
}

@media (orientation: landscape) {
  .TilePropertiesMenu__modal {
    position: fixed;
    top: 1cqi;
    left: 50;
    max-height: 250px;
    width: 300px;
    background-color: rgba(33, 73, 77, 0.9);
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow-y: auto;
    z-index: 1001;
  }

  .TilePropertiesMenu__button {
    top: 7cqi;
    left: 5cqi;
  }
}
