.popup {
  color: black;
  display: flex;
  flex-direction: column;
  width: 128px;
  height: 96px;
  position: relative;
}

.popup::after {
  content: '';
  position: absolute;
  left: 36%;
  top: 50%;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #e8e8e8;
  clear: both;
}
