$build-menu-height: 64px;

.build-menu {
  position: fixed;
  left: 50cqi;
  bottom: calc(env(safe-area-inset-bottom) + 8%);  
  border-radius: 20px;
  height: min-content;
  width: fit-content;

  background-color: rgba(33, 73, 77, 0.702); 
  @media (prefers-color-scheme: light) {
  background-color: #d3c57a66;
  }
  @media (prefers-color-scheme: dark) {
  background-color: rgba(33, 73, 77, 0.702); 
  }
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color:#E6E6E6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:baseline;
  padding: 8px;
  gap: 32px;
  box-sizing: border-box;
  backdrop-filter: saturate(180%) blur(30px);
  -webkit-backdrop-filter: saturate(180%) blur(30px);

  opacity: 0;
  transition: opacity 0.2s ease-out, transform 0.5s ease-out 0.2s;
  transform: translateX(-50%); 


  &--visible {
    opacity: 1;
    transform: translateX(-50%) translateY(0); 
    height: $build-menu-height;
  }

  @media (orientation: landscape) {
    max-height: 30%;
    left: 20cqi;
    top: 36cqi;   
  }
}