.building-menu__entry {
  all: unset;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  height: 100%;
  width: fit-content;
  cursor: pointer;
  user-select: none;

  &:hover .building-menu__entry-icon {
    background: rgba(255, 255, 255, 0.6);
  }
}

.building-menu__entry-icon {
  height: 32px;
  width: 32px;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  border: 1px solid rgb(47, 192, 57);
  color: rgb(47, 192, 57);
  border-radius: 100%;
  text-align: center;
  transition: background 0.2s ease-out;
}

.building-menu__entry[disabled] {
  filter: grayscale(1);
  color: rgb(133, 129, 129);
}

.building-menu__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px 48px;
  background: rgba(211, 197, 122, 0.4);
  backdrop-filter: saturate(180%) blur(30px);
  border-radius: 8px;
  width: 196px;
  min-height: 196px;

  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #d5d5d5;

  h2 {
    margin: 0;

    figure {
      display: inline-block;
      margin: 0 16px 0 0;
      font-size: 1.2em;
    }
  }

  ul {
    all: unset;
    list-style: none;

    li {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .building-menu__modal-accept {
    all: unset;
    background: rgba(12, 185, 61, 0.645);
    padding: 8px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    height: 48px;
    width: 48px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    align-self: center;
 
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.67, 0.38, 0.09, 2.1);
    margin-top: 8px;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }
  }

  .building-menu__modal-accept[disabled] {
    background: rgba(178, 192, 182, 0.645);
    cursor:not-allowed;
    transition:none;
    

    &:hover {
      transform: none;
      box-shadow:none
    }
  }

  .building-menu__modal-close {
    all: unset;
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 4px;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: bold;
    transition: all 0.2s cubic-bezier(0.67, 0.38, 0.09, 2.1);

    &:hover {
      transform: scale(1.05);
    }
  }
}

h3 {
  margin: 0;
}
